body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grand{
    height: 700px;
    width: 700px;
    background-color: aquamarine;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
    height: 500px;
    width: 500px;
    background-color: lightblue;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    height: 300px;
    width: 300px;
    background-color: lightcoral;
}