*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
}
.grand{
    height: 29vh;
    width: 70vw;
    background-color: #FFB3B3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}
.parent{
    height: 20vh;
    width: 45vw;
    background-color: #ADD8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    gap:4px;
}

.child{
    background-color: #4caf50;
    border-radius:4px;
}

.outer{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.logs{
    height: 33vh;
    width: 18vw;
    background-color: white;
    border-radius: 24px;
}

.logs h2{
    text-align: center;
    padding: 10px;
}

header{
    margin-left: 40px;
}

.log-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#clear{
    height: 40px;
    width: 70px;
    background-color: #4caf50;
    border: none;
    border-radius: 8px;
}

.logss{
    margin-left: 9px;
}

li{
    text-decoration: none;
}

#clear:hover{
    background-color: #45a049;
    cursor: pointer;
}

.log-cont{
    height: 160px;
    overflow-y: scroll;
    padding: 10px;
    border-radius: black solid 1px;
}
